/* edit the existing theme colors! */
$primary: #fad766;
$success: #9ecf82;
$info: #c097c2;
$warning: #705580;
$danger: #ad3644;

/* set base-font family throughout website */ 
$font-family-base: "Azeret Mono", serif;

/* special font for headers */ 
h1 {
    font-family:   "Ribeye", serif;
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-family: "Freckle Face", serif;
}

/* add a cool linear-gradient for the background */
html > body {
  background-image: linear-gradient($primary, $info)
}

/* Utilize Google Fonts! */

/* Ultra */
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');
/* Crafty Girls, Freckle Face, Kumar One, Ribeye */
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Freckle+Face&family=Kumar+One&family=Ribeye&display=swap');

/* Import Bootstrap! */
@import '../../node_modules/bootstrap/scss/bootstrap.scss';